{
  "ConnectionStrings": {
    "DefaultConnection": "Server=(localdb)\\MSSQLLocalDB;Database=ExtensionesShopDb;Trusted_Connection=True;MultipleActiveResultSets=true;TrustServerCertificate=True;"
  },

  "ClientUrl": "https://localhost:44385",

  "Email": {
    "OwnerEmail": "tu-email@gmail.com",
    "FromEmail": "tu-email@gmail.com",
    "SmtpHost": "smtp.gmail.com",
    "SmtpPort": "587",
    "SmtpUser": "tu-email@gmail.com",
    "SmtpPassword": "tu-app-password"
  },
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning",
      "Microsoft.EntityFrameworkCore.Database.Command": "Information"
    }
  },
  "AllowedHosts": "*"
}
